# Environment variables
.env*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

build/
dist/
test_demo.ipynb
config.json